<?xml version="1.0" ?>
<model>
    <name>nature_valley_granola_thins_dark_chocolate</name>
    <version>1.0</version>
    <sdf version="1.6">nature_valley_granola_thins_dark_chocolate.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
