<?xml version="1.0" ?>
<model>
    <name>vo5_tea_therapy_healthful_green_tea_smoothing_shampoo</name>
    <version>1.0</version>
    <sdf version="1.6">vo5_tea_therapy_healthful_green_tea_smoothing_shampoo.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
