<?xml version="1.0" ?>
<model>
    <name>clif_crunch_white_chocolate_macademia_nut</name>
    <version>1.0</version>
    <sdf version="1.6">clif_crunch_white_chocolate_macademia_nut.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
