<?xml version="1.0" ?>
<model>
    <name>eating_right_for_healthy_living_mixed_berry</name>
    <version>1.0</version>
    <sdf version="1.6">eating_right_for_healthy_living_mixed_berry.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
