<?xml version="1.0" ?>
<model>
    <name>nature_valley_soft_baked_oatmeal_squares_cinnamon_brown_sugar</name>
    <version>1.0</version>
    <sdf version="1.6">nature_valley_soft_baked_oatmeal_squares_cinnamon_brown_sugar.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
