<?xml version="1.0" ?>
<model>
    <name>white_rain_sensations_ocean_mist_hydrating_body_wash</name>
    <version>1.0</version>
    <sdf version="1.6">white_rain_sensations_ocean_mist_hydrating_body_wash.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
